:root {
  --off-white: #fbf7f5;
}

/* Global */
li {
  list-style-type: none;
}

/* Fields, etc... */
.search {
  min-width: 250px;
}


.header h2 {
  font-weight: bold;
}

.header p {
  font-weight: bold;
  max-width: 600px;
}

.header-card {
  margin-top: 120px;
  margin-left: 150px;
}

@media only screen and (max-width: 779px) {
  .header-card {
    margin-left: 35px;
    margin-right: 35px;
  }
}

/* Main Content */
.main-content {
  padding: 0 !important;
  background-color: var(--off-white);
  -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 50ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.selected {
  border-bottom: 3px solid white;
  color: white;
}

/* Sections */

/* About */
.about {
  min-width: 300px;
  padding-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-card-content {
  padding-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .about img {
    margin-bottom: 20px;
  }
}

.about p{
  max-width: 600px;
}

/* Experience */
.experience {
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 120px;
}


/* Gallery */
.gallery {
  padding-top: 120px;
}

/* Contact */
.contact {
  padding-top: 120px;
  margin-bottom: -25px;
  padding-left: 10px;
  padding-right: 12px;
}

.contact-row {
  margin-right: 0px !important;
}

.contact-link {
  margin-top: 15px;
}

.contact-link a {
  color: inherit;
}

.contact img {
  margin-bottom: 20px;
  min-width: 350px;
  border-radius: 10px
}

#email {
  cursor: pointer;
}
