@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
  --off-white: #f7f7f7;
}

#App {
    background-color: var(--off-white);
    font-family: 'Comfortaa';
    height: 100%
}

/* Global */

li {
    text-decoration: none;
}

blockquote {
  color: rgb(145, 145, 145);
  padding-left: 10px;
  border-left: 2px solid rgb(145, 145, 145);
  font-style: italic;
}

/* General Styling */
.bg-dark-beige {
  background-color: #d0bba1;
}

.min-width-300 {
 min-width: 300px;
}

.max-w-1000 {
    max-width: 1000px;
   }

.dashed-border {
  border-width: 1px;  
  border-style: dashed;
  border-color: #2E2E2E;
}

.dashed-border-2 {
  border-width: 2px;  
  border-style: dashed;
  border-color: #2E2E2E;
}

.dashed-border-3 {
  border-width: 3px;  
  border-style: dashed;
  border-color:#2E2E2E;
}

.dashed-border-4 {
  border-width: 4px;  
  border-style: dashed;
  border-color:#2E2E2E;
}

.dashed-border-5 {
  border-width: 5px;  
  border-style: dashed;
  border-color: #2E2E2E;
}

.overlay-black-light {
    background-color: rgba(0, 0, 0, 0.3);
}

.overlay-red-light {
    background-color: rgba(244, 67, 54, 0.3);
}


/* Fields, Buttons, etc... */
.image-upload-input {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
.search {
  border: none;
  border-bottom: solid;
  border-radius: 0;
  outline: none !important;
  background-color: var(--off-white);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
.search:focus {
    background-color: var(--off-white);
    border-color: #804d59 !important;
    outline: none !important;
    box-shadow: none!important;
}

.icon-button {
  cursor: pointer;
}

.icon-button.active {
  cursor: pointer;
  border-bottom: 3px solid #eee;
}

.header h2 {
  font-weight: bold;
}

.header p {
  font-weight: bold;
  max-width: 600px;
}

.header-card {
  margin-top: 120px;
  margin-left: 150px;
}

@media only screen and (max-width: 779px) {
  .header-card {
    margin-left: 35px;
    margin-right: 35px;
  }
}

/* Navbar */
.nav-bar {
    position: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #613B44;
    z-index: 3;
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.nav-bar.transparent {
    background-color: rgba(97, 59, 68, 0);
}

.nav-collapsed {
    height: 0;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -o-transition: height 500ms;
    -ms-transition: height 500ms;
    transition: height 500ms;
}

.nav-collapsed.open {
    height: auto;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -o-transition: height 500ms;
    -ms-transition: height 500ms;
    transition: height 500ms;
}

.nav-group {
    font-size: large;
}

.nav-group li {
    list-style-type: none;
}

.nav-item:hover {
    color: black;
}

.nav-link:hover {
    color: black;
}

/* Login */

.login-form {
    background-color: var(--off-white);
    margin-top: 100px;
    padding: 30px;
    border: 4px solid;
    border-radius: 20px;
    border-color: #613B44;
}

/* Main Content */
.main-content {
  padding: 0 !important;
  /*background-color: #DAD1C5;*/
}

.front-page {
  background-color: var(--off-white);
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 50ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.front-page li {
  list-style-type: none;
}

.selected {
  border-bottom: 3px solid white;
  color: white;
}

/* Sections */

/* About */
.about {
  min-width: 300px;
  padding-top: 60px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.about-content {
  padding-top: 10px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 575px) {
  .about img {
    margin-bottom: 20px;
  }
}

.about p{
  max-width: 600px;
}

/* Experience */
.experience {
  padding-left: 10px;
  padding-right: 12px;
  padding-top: 120px;
}


/* Gallery */
.gallery {
  padding-top: 120px;
}

/* Contact */
/*
@keyframes contact-animation {
  0%   { opacity: 0; top:100px; }
  100% { opacity: 1; top:0px; }
}
*/

.contact {
  padding-top: 120px;
  margin-bottom: -25px;
  padding-left: 10px;
  padding-right: 12px;
  /*
  animation-name: contact-animation;
  animation-duration: 2s;
  position: relative;
  */
}

.contact-row {
  margin-right: 0px !important;
}

.contact-link {
  margin-top: 15px;
}

.contact-link a {
  color: inherit;
}

.contact img {
  margin-bottom: 20px;
  min-width: 300px;
  border-radius: 10px
}

#email {
  cursor: pointer;
}

footer {
    background-color: #613B44;
}
