.blog-container {
    background-color: #DAD1C5;
}

.blog-side-bar {
}

.blog-latest {
    min-width: 430px;
}

.blog-card {
    height: 400px;
    max-width: 780px;
    min-width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card-content {
    background-color: rgba(33, 33, 33, 0.7);
    width: 100%;
}

.blog-post-add-link {
    border-width: 5px;  
    border-style: dashed;
    border-color: white;
}

.blog-post-add-link link : :hover {
    color: rgba(33, 33, 33, 0.7);
}



