:root {
    --off-white-shade: #f1f1f1;
    --off-dark: #353535;
}

.socialMediaPopper {
    top: 300px  !important;
    left: unset !important;
    right: 0px !important;
    display: grid;
}

.socialMediaPopper:hover > svg {
    height: 50px !important;
    width: 50px !important;
}

.blog-latest {
    animation-name: latest-post;
    animation-duration: 1.5s;
}

@keyframes latest-post {
    0% {
        opacity: 0; 
        left:200px;
    }
    100%  {
        opacity: 1; 
        left: 0px;
    }
      
}

.blog-top-section {
    background-color: white;
}

.blog-search {
    z-index: 10; 
    position: absolute;
    margin-top: 48px;
}

.blog-search.hidden {
    visibility: hidden;
}

.blog-card-content {
    background-color: rgba(33, 33, 33, 0.7);
    width: 100%;
    /*max-height: 400px;*/
    min-height: 170px;
    border-radius: 0 0 .5rem .5rem;
}

.blog-feed {
    background-color: var(--off-white-shade);
    min-height: 400px;
}

.blog-feed-col {
    min-width: 300px;
    max-width: 480px;
}

.blog-card {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-post-add-link:hover {
    background-color:#e0e0e0;
}

.editor {
    min-width: 200px;
}

.editor-action-panel {
    background-color: #613B44;
}

.editor-image-attachment {
    max-width: 800px;
}

.editor-image-attachment img {
    max-width: 90%;
    padding: 0;
    height: auto;
    width: auto;
}

.toolbar-button {
    cursor: pointer;
    color: black;
}

.toolbar-menu {
    position: relative;
    padding: 1px 18px 17px;
    margin: 0 -20px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.search-col {
    background-color: #613B44;
    min-width: 300px;
    max-width: 400px;
}

.search-col.hidden {
    height: 45px;
    visibility: hidden;
}

.blog-post {
    min-height: 400px;
    max-width: 750px;
}

.blog-post-title {
    border-bottom: solid 3px #804d59;
    min-width: 300px;
}

.blog-post-content {
    position: relative;
    animation-name: post-content;
    animation-duration: 1.5s;
}

@keyframes post-content {
    0% {
        opacity: 0; 
        top:100px;
    }
    100%  {
        opacity: 1; 
        top: 0px;
    }
      
}

.post-img {
    padding: 0;
    height: auto;
    width: auto;
}

.recent-posts {
    min-width: 300px;
    max-width: 350px;
    max-height: 300px;
}



