.blog-container {
    background-color: #DAD1C5;
}

.blog-latest {
    /*min-width: 430px;*/
    animation-name: latest-post;
    animation-duration: 1.5s;
}

@keyframes latest-post {
    0% {
        opacity: 0; 
        left:200px;
    }
    100%  {
        opacity: 1; 
        left: 0px;
    }
      
}

.blog-search {
    z-index: 10; 
    position: absolute;
    margin-top: 48px;
}

.blog-search.hidden {
    visibility: hidden;
}

.blog-card {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card-content {
    background-color: rgba(33, 33, 33, 0.7);
    width: 100%;
    max-height: 400px;
    min-height: 170px;
}

.blog-feed-col {
    min-width: 300px;
}

.blog-card {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-overlay {
    height: 200px;
}

.blog-post-add-link {
}

.blog-post-add-link:hover {
    background-color: #d0bba1;
}

.editor {
    min-width: 200px;
}

.editor-action-panel {
    background-color: #613B44;
}

.toolbar-button {
    cursor: pointer;
    color: black;
}

.toolbar-menu {
    position: relative;
    padding: 1px 18px 17px;
    margin: 0 -20px;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.search-col {
    background-color: #d0bba1;
    min-width: 300px;
    max-width: 400px;
}

.search-col.hidden {
    height: 45px;
    visibility: hidden;
}

.blog-post {
    max-width: 800px;
    
}

.blog-post-title {
    background-color: #d0bba1;
    min-width: 300px;
    max-width: 400px;
}

.blog-post-content {
    position: relative;
    animation-name: post-content;
    animation-duration: 1.5s;
}

@keyframes post-content {
    0% {
        opacity: 0; 
        top:200px;
    }
    100%  {
        opacity: 1; 
        top: 0px;
    }
      
}

.recent-posts {
    min-width: 300px;
}



