.ig-container {
    background-color: white;
}

.ig-posts {
    max-width: 1300px;
}

.ig-posts img {
    object-fit: contain;
}

.ig-post {
    max-height: 400px;
}

.ig-post i {
    cursor: pointer;
}