.ig-container {
    background-image: url(images/single-mountain-l.png) , url(images/single-cloud.png) , url(images/single-moon.png);
    background-size: 145%, 70% , 60%;
    background-color:#F0F8FF;
    background-position: center center, right , left;
    background-repeat: no-repeat , no-repeat, no-repeat;
    background-attachment: fixed;
}

.ig-posts {
    max-width: 1300px;
}

.ig-posts img {
    object-fit: contain;
}

.ig-post {
    max-height: 400px;
}

.ig-post i {
    cursor: pointer;
}